@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  font-family: "Source Code Pro";
  --text-color: black;
  margin: 2rem;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0.4em;
}

a,
li {
  text-decoration: none !important;
  color: var(--text-color);
}

.links a {
  font-size: 1.4rem;
}

br {
  border-top: 1px solid black;
}

.main-content {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

nav {
  display: flex;
  justify-content: left;
}

nav > a {
  padding: 20px;
}
