@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    background: #1b1f20;
    color: white;
}

h1 {
    font-size: 2.6em;
}

header {
    text-align: center;
}

a {
    color: #a9d2d3;
    text-decoration: none;
    &::before {
        content: "";
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h2 {
    font-size: 1.6em;
}

.main {
    text-align: center;
    p {
        margin: 0.4em;
        &::before {
            content: "=> ";
        }
    }
}
