@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --text-color: black;
  margin: 2rem;
}

html,
body {
  font-family: "Source Code Pro";
  height: 100%;
  overflow-y: hidden;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0.4em;
}

a,
li {
  text-decoration: none !important;
  color: var(--text-color);
}

a {
  position: relative;
}

a:after {
  border-top: 0.1rem solid var(--text-color);
  content: "";
  position: absolute;
  right: 100%;
  bottom: -0.07em;
  left: 0;
  -webkit-transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

a:hover:after {
  right: 0;
}

.links {
  font-size: 1.4rem;
}

br {
  border-top: 1px solid black;
}

.main-content {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

nav {
  display: flex;
  justify-content: left;
}

nav > a {
  padding: 20px;
}
