@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #171717;
  color: white;
}

h1 {
  font-size: 9rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

h2 {
  font-size: 6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

sub {
  font-size: 1.4rem;
  padding-left: 0.6rem;
}

.logo {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.head {
  padding-top: 30vh;
  height: 70vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.flex {
  margin-top: 1vh;
  margin-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn img {
  width: 100%;
  height: 100%;
}

.break {
  height: 0;
}

@media screen and (max-width: 768px) {
  .break {
    flex-basis: 100%;
  }
}

a {
  text-decoration: none;
  text-decoration: none;
  color: white;
}

.btn {
  margin: 0.2rem;
  color: white;
  background: #545454;
  text-align: center;
  box-shadow: 0px 3px 6px 1px rgba(40, 40, 40, 0.4);
  border-radius: 13px;
  border: none;
  height: 2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  vertical-align: middle;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s transform;
}

.btn:hover {
  transform: translateY(-4px);
}

.text-btn {
  padding: 1rem 1.25rem 0rem 1.25rem;
}

.img-btn {
  width: 2rem;
  padding: 0.5rem;
}

footer {
  display: block;
  align-items: center;
  height: 2em;
  font-size: 0.6em;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.452);
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.projects {
  justify-content: left;
}

.project-card {
  padding: 1rem;
  width: 16rem;
  height: 4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: white;
  background: #545454;
  box-shadow: 0px 3px 6px 1px rgba(40, 40, 40, 0.4);
  border-radius: 13px;
  border: none;
}
