:root {
  background-color: #1e1e2e;
  color: white;
  --highlight-background: #696d86;
  list-style-type: none;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'JetBrains Mono', monospace;
}

.bars {
  grid-area: bars;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barwrapper {
  background-color: #515464;
  width: 50%;
}

.bar {
  width: 0%;
  background-color: white;
  color: white;
  text-align: center;
  height: 2px;
}

.container {
  display: grid;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-areas:
    ". left right ."
    "bars bars bars bars";
  align-items: center;
  justify-items: center;
}
.container-left {
  margin: auto;
  grid-area: left;
}

.container-right {
  width: 100%;
  margin: auto;
  display: flex;
  grid-area: right;
}

.category {
  width: 8rem;
}
a {
  color: #acacda;
  text-decoration: none;
}
